body{
	margin: 0;
	padding: 0;
	background-color: #050a0c;
}

#xmas{
	position: relative;
	margin: 0 auto;
	width: 90%;
	height: 600px;
	overflow: hidden;
	
}
.layer {
  position: absolute;
  height: 600px;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  
}
#replay{	
	position: absolute;
	top: 0;
	right: 0;
	width: 48px;
	height: 48px;
	opacity: 0;
	cursor: pointer;
}
#img-1{
	background: url(img/santa.png) no-repeat;
	left: -250px;
	opacity: 1;

}
/* open*/
#open1{
	background: url(img/openSanta.png);

}
#open2{
	background: url(img/openTuanloc.png);

}

/*tree*/
#t{
	background: url(img/t.png);
}
#t1{
	background: url(img/t1.png);
}
#t2{
	background: url(img/t2.png);
}
#t3{
	background: url(img/t3.png);
}
#t4{
	background: url(img/t4.png);
}
#t5{
	background: url(img/t5.png);
}
#t6{
	background: url(img/t6.png);
}
#t7{
	background: url(img/t7.png);
}
#t8{
	background: url(img/t8.png);
}
#t9{
	background: url(img/t9.png);
}
#t10{
	background: url(img/t10.png);
}
#t11{
	background: url(img/t11.png);
}

/* snow */
@import url(https://fonts.googleapis.com/css?family=Molle:400italic&subset=latin,latin-ext);
body{
background-color: hsla(0,0%,0%,1);
margin: 0px;
overflow: hidden;
font-family: 'Molle', cursive;
}
h2{
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate( -50%, -50%);
  font-size:3em;
  color:hsla(255, 255%, 255%, .1);
}
#music{
	opacity: 0;
	width: 1px;
	height: 1px;

}
#copy{
	color: white;
	font-size: 11px;
	margin-bottom: -15px;
}